
.box{
    height: 200px;
    width: 200px;
    border: 1px solid blue;
    background-color: blueviolet;
    transition: background-color 5s ease 4s;
    transition: width 5s ease 2s;
}
.box:hover{
    background-color: rgb(27, 196, 47);
    width: 1000px;
    
}